<div class="card p-4 bg-white shadow-md rounded-lg">
  <p-table
    [value]="(patientsAppointments$ | async) || []"
    [tableStyle]="{ 'min-width': '30rem' }"
    sortMode="multiple"
    class="w-full border-collapse"
  >
    <ng-template pTemplate="header">
      <tr class="bg-blue-100 text-left">
        <th
          pSortableColumn="date"
          class="px-4 py-2 text-sm font-semibold text-gray-700 border-b border-gray-200 w-1/3"
        >
          Date <p-sortIcon field="date" />
        </th>
        <th
          pSortableColumn="doctor"
          class="px-4 py-2 text-sm font-semibold text-gray-700 border-b border-gray-200 w-1/3"
        >
          Doctor <p-sortIcon field="doctor" />
        </th>
        <th
          pSortableColumn="notes"
          class="px-4 py-2 text-sm font-semibold text-gray-700 border-b border-gray-200 w-1/3"
        >
          Notes <p-sortIcon field="notes" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-appointment>
      <tr class="hover:bg-gray-50">
        <td class="px-4 py-2 text-sm text-gray-600 border-b border-gray-200">
          {{ appointment.date }}
        </td>
        <td class="px-4 py-2 text-sm text-gray-600 border-b border-gray-200">
          {{ appointment.doctor }}
        </td>
        <td class="px-4 py-2 text-sm text-gray-600 border-b border-gray-200">
          {{ appointment.notes }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
